
    
  

<%= form_for @modification, url: project_modifications_path(@project, @modification), :html => { :class => "form-horizontal task" }  do |f| %>

  <% if @modification.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@modification.errors.count, "error") %> prohibited this modification from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @modification.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>


<ul class="nav nav-tabs">
  <li class="active"><a href="#home" data-toggle="tab" aria-expanded="true">项目信息</a></li>
  <li class=""><a href="#profile" data-toggle="tab" aria-expanded="false">合作者信息</a></li>
</ul>
<div id="myTabContent" class="tab-content">
  <div class="tab-pane fade active in" id="home">
  </br>
  </br>
  <p>
  <div class="form-group">
    <%= f.label "项目名称", :class => 'control-label col-lg-2' %>
   <div class="col-lg-10">
     <%= f.label "#{@project.name}", :class => 'control-label' %>
    </div>
  </div>

<div class="form-group">
    <%= f.label :规模, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :scale, :class => 'form-control' %>
    </div>
    <%=f.error_span(:scale) %>
  </div>
<div class="form-group">
    <%= f.label :风险 ,:class => 'control-label col-lg-2' %>
    <% Plan::RISK_TYPE.each do |t| %>
                        <%= f.radio_button :risk, t %> 
                        <%= f.label :risk, t, :value => t, :class => "inline" %>
    <% end %>
  </div>
  <div class="form-group">
    <%= f.label :开始日期, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.date_select :start_date, :class => 'form-control' %>
    </div>
    <%=f.error_span(:start_date) %>
  </div>
  <div class="form-group">
    <%= f.label :结束日期, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.date_select :end_date, :class => 'form-control' %>
    </div>
    <%=f.error_span(:end_date) %>
  </div>
  
  <div class="form-group">
    <%= f.label :费率, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :rate, :class => 'form-control' %>
    </div>
    <%=f.error_span(:rate) %>
  </div>

  <div class="form-group">
    <%= f.label :管理费, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :management_fee, :class => 'form-control' %>
    </div>
    <%=f.error_span(:management_fee) %>
  </div>
  <div class="form-group">
    <%= f.label :费用金额, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :fee, :class => 'form-control' %>
    </div>
    <%=f.error_span(:fee) %>
  </div>

   <div class="form-group">
    <%= f.label :备注, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :notes, :class => 'form-control' %>
    </div>
    <%=f.error_span(:notes) %>
  </div>
  </p>
</div>

  <div class="tab-pane fade" id="profile">
    <p>
      <br><br>
      
      <div class="form-group">
        <%= f.label "费用占比", :class => 'control-label col-lg-2' %>
        <div class="col-lg-10">
          <%= f.label "多人项目请认真确认好团队比例,包括本人,占比合记为 1", :class => 'control-label' %>
        </div>
      </div>

      <ul class="list-group">
        
      <%= f.fields_for :cooperations do |op| %>
      <li class="list-group-item">
        <%= op.label :成员, :class => 'control-label col-lg-2' %>
        <%= op.select :user_id, User.all.collect {|u| [ "#{u.name}", u.id ] } ,:class => 'radio' %>
        <%= op.label :比例  %>
        <%= op.text_field :ratio %>
        </li>
      <% end %>
      
      </br>
    </p>
  </div>
 

  <div class="form-group">
    <div class="col-lg-offset-2 col-lg-10">
      <%= f.submit :新建—项目调整, :class => 'btn btn-primary' %>
      <%= link_to :取消,
                project_modifications_path(@project), :class => 'btn btn-default' %>
    </div>
  </div>

<% end %>
