<div class="page-header">
  <h1>调整列表</h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th>名称</th>
      <th>编号</th>
      <th>开始时间</th>
      <th>结束时间</th>
      <th>管理费</th>
      <th>投资经理</th>
      <th>费率</th> 
      <th>费用金额</th>
      <th>注释</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% object.modifications.each do |pm| %>
      <tr>
        <td><%= object.name %></td>
        <td><%= pm.scale %></td>
        <td><%= pm.start_date %></td>
        <td><%= pm.end_date %></td>
        <td><%= pm.management_fee %></td>
        <td><%= pm.investment_manager %></td>
        <td><%= pm.rate %></td>
        <td><%= pm.fee %></td>
        <td><%= pm.notes %>
          |
          <% pm.cooperations.each do |co|%>
            <%= "#{co.user.username} #{co.ratio}" %>|
          <% end %>
        </td>
        

        <td><%= link_to '详情', modification_path(pm) %></td>
        <td><%= link_to '编辑', edit_modification_path(pm) %></td>
        <td><%= link_to '删除', modification_path(pm), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<% logger.info   "----------------#{object.class.to_s}------------------"%>
<% if object.class.to_s =='Project'%>
  <%= link_to '新建 调整', new_project_modification_path(object) %>
<%else%>
  <%= link_to '新建 调整', new_plan_modification_path(object) %>
<%end%>
