<%- model_class = Modification -%>
<div class="page-header">
  <h1>调整列表</h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= :名称 %></th>
      <th><%= model_class.human_attribute_name(:scale) %></th>
      <th><%= model_class.human_attribute_name(:start_date) %></th>
      <th><%= model_class.human_attribute_name(:end_date) %></th>
      <th><%= model_class.human_attribute_name(:charge_type) %></th>
      <th><%= model_class.human_attribute_name(:charge_amount) %></th>
      <th><%= model_class.human_attribute_name(:rate) %></th>
      <th><%= model_class.human_attribute_name(:fee) %></th>
      <th><%= model_class.human_attribute_name(:notes) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%= '行为' %></th>
    </tr>
  </thead>
  <tbody>
    <% @modifications.each do |modification| %>
      <tr>
        <td><%= link_to modification.id, modification_path(modification) %></td>
        <td><%= link_to modification.modificationable.name, modification_path(modification) %></td>
        <td><%= modification.scale %></td>
        <td><%= modification.start_date %></td>
        <td><%= modification.end_date %></td>
        <td><%= modification.charge_type %></td>
        <td><%= modification.charge_amount %></td>
        <td><%= modification.rate %></td>
        <td><%= modification.fee %></td>
        <td><%= modification.notes %></td>
        <td><%=l modification.created_at %></td>
        <td>
          <%= link_to :编辑,
                      edit_modification_path(modification), :class => 'btn btn-default btn-xs' %>
          <%= link_to  :删除,
                      modification_path(modification),
                      :method => :delete,
                      :data => { :confirm => '危险操作，请确认是否删除?' },
                      :class => 'btn btn-xs btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<% if @modificationable.class.to_s == 'Project'%>
   <%= link_to :新建—项目调整,
               new_project_modification_path(@modificationable),
               :class => 'btn btn-primary' %> |
   <%= link_to '当前资管计划的项目列表', plan_projects_path(@modificationable.plan), :class=>'btn btn-link' %> |
   <%= link_to '我的资管计划表', plans_path, :class=>'btn btn-link' %>
 <%else%>
   <%= link_to :新建—计划调整,
               new_plan_modification_path(@modificationable),
               :class => 'btn btn-primary' , :class=>'btn btn-link'%> |
   <%= link_to '我的资管计划表', plans_path %>
 <%end%>