<%- model_class = Modification -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<dl class="dl-horizontal">
  <!-- <dt><strong><%= model_class.human_attribute_name(:modificationable_id) %>:</strong></dt>
  <dd><%= @modification.modificationable_id %></dd> -->
  <dt><strong><%= model_class.human_attribute_name(:scale) %>:</strong></dt>
  <dd><%= @modification.scale %></dd>
  <dt><strong><%= model_class.human_attribute_name(:start_date) %>:</strong></dt>
  <dd><%= @modification.start_date %></dd>
  <dt><strong><%= model_class.human_attribute_name(:end_date) %>:</strong></dt>
  <dd><%= @modification.end_date %></dd>
  <dt><strong><%= model_class.human_attribute_name(:management_fee) %>:</strong></dt>
  <dd><%= @modification.management_fee %></dd>
  <dt><strong><%= model_class.human_attribute_name(:rate) %>:</strong></dt>
  <dd><%= @modification.rate %></dd>
  <dt><strong><%= model_class.human_attribute_name(:fee) %>:</strong></dt>
  <dd><%= @modification.fee %></dd>
  <dt><strong><%= model_class.human_attribute_name(:notes) %>:</strong></dt>
  <dd><%= @modification.notes %></dd>
</dl>


<% if (@modification.modificationable_type == "Project") %>
  <%= link_to t('.back', :default => t("helpers.links.back")),
                project_modifications_path(@modification.modificationable, @modification), :class => 'btn btn-default'  %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
                edit_modification_path(@modification), :class => 'btn btn-default' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                modification_path(@modification),
                :method => 'delete',
                :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                :class => 'btn btn-danger' %>
<%else%>
  <%= link_to t('.back', :default => t("helpers.links.back")),
                plan_modifications_path(@modification.modificationable, @modification), :class => 'btn btn-default'  %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
                edit_modification_path(@modification), :class => 'btn btn-default' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                modification_path(@modification),
                :method => 'delete',
                :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                :class => 'btn btn-danger' %>
<%end%>