<%= form_for @task, :html => { :class => "form-horizontal task" } do |f| %>

  <% if @task.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@task.errors.count, "error") %> prohibited this task from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @task.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>
  <% logger.error "----------#{f.options[:html][:method]}------"%>
  
  <div class="form-group">
    <%= f.label :年, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :year, :class => 'form-control' %>
      <%=f.error_span(:year) %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :收益, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :profit, :class => 'form-control' %>
      <%=f.error_span(:profit) %>
    </div>
  </div>
  
  <div class="form-group">
    <%= f.label :规模, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :amount, :class => 'form-control' %>
      <%=f.error_span(:amount) %>
    </div>
  </div>

<!--   
  <div class="form-group">
    <%= f.label :taskable_type, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :taskable_type, :class => 'form-control' %>
    </div>
    <%=f.error_span(:taskable_type) %>
  </div>
  
  <div class="form-group">
    <%= f.label :taskable_id, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :taskable_id, :class => 'form-control' %>
    </div>
    <%=f.error_span(:taskable_id) %>
  </div>
  -->
  
  <div class="form-group">
    <div class="col-lg-offset-2 col-lg-10">
      <%= f.submit :提交, :class => 'btn btn-primary' , :data => { :"disable-with" => "请稍等..." } %>
      <%= link_to :取消,
                tasks_path, :class => 'btn btn-default' %>
    </div>
  </div>

<% end %>
