<h1>Listing Cooperations</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Project modification</th>
      <th>Ratio</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @cooperations.each do |cooperation| %>
      <tr>
        <td><%= cooperation.user %></td>
        <td><%= cooperation.project_modification %></td>
        <td><%= cooperation.ratio %></td>
        <td><%= link_to 'Show', cooperation %></td>
        <td><%= link_to 'Edit', edit_cooperation_path(cooperation) %></td>
        <td><%= link_to 'Destroy', cooperation, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Cooperation', new_cooperation_path %>
