<%= form_for @project, url: plan_projects_path(@plan,@project) do |f| %>
  <% if @project.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@project.errors.count, "error") %> prohibited this project from being saved:</h2>

      <ul>
      <% @project.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  
  <div class="field">
    <%= f.label "计划名称: #{@plan.name}" %><br>
  </div>
  <div class="field">
    <%= f.label :AM合同代码 %><br>
    <%= f.text_field :number %>
  </div>
  <div class="field">
    <%= f.label :项目名称 %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :资产价格 %><br>
    <%= f.text_field :asset_price %>
  </div>
  <div class="field">
    <%= f.label :入池价格 %><br>
    <%= f.text_field :pool_price %>
  </div>
  <div class="field">
    <%= f.label :放款日 %><br>
    <%= f.date_select :start_date %>
  </div>
  <div class="field">
    <%= f.label :到期日 %><br>
    <%= f.date_select :end_date %>
  </div>
  <div class="field">
    <%= f.label :管理费率 %><br>
    <%= f.text_field :management_fee %>
  </div>
  <div class="field">
    <%= f.label :投资经理 %><br>
    <%= f.text_field :investment_manager %>
  </div>
  <div class="field">
    <%= f.label :合作伙伴 %><br>
    <%= f.text_field :parter %>
  </div>
  <div class="field">
    <%= f.label :部门 %><br>
    <%= f.select :department_id, @departments, :prompt => "选择该计划隶属的部门"%> 
  </div>
  <div class="field">
    <%= f.label :费率 %><br>
    <%= f.text_field :rate %>
  </div>
  <div class="field">
    <%= f.label :费用金额 %><br>
    <%= f.text_field :fee %>
  </div>
  <div class="field">
    <%= f.label :注释 %><br>
    <%= f.text_area :notes %>
  </div>
  <div class="actions">
    <%= f.submit '创建项目'%>
  </div>
<% end %>
