<div class="page-header">
  <h1><%= @plan.number %>—资管计划—<%= @plan.name %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th>资管计划名称</th>
      <th>项目号</th>
      <th>项目名称</th>
      <th>项目金额</th>
      <th>资产价格</th>
      <th>入池价格</th>
      <th>开始日期</th>
      <th>结束日期</th>
      <th>管理费</th>
      <th>投资经理</th>
      <th>部门</th>
      <th>费率</th>
      <th>费用金额</th>
      <th>注释</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @projects.each do |project| %>
      <tr>
        <td><%= project.plan.name %></td>
        <td><%= link_to project.number, project_path(project) %></td>
        <td><%= link_to project.name, project_path(project) %></td>
        <td><%= project.scale %></td>
        <td><%= project.asset_price %></td>
        <td><%= project.pool_price %></td>
        <td><%= project.start_date %></td>
        <td><%= project.end_date %></td>
        <td><%= project.management_fee %></td>
        <td><%= project.investment_manager %></td>
        <td><%= project.department.name %></td>
        <td><%= project.rate %></td>
        <td><%= project.fee %></td>
        <td><%= project.notes %></td>
        
        <td><%= link_to 'Edit', edit_project_path(project) %></td>
        <td><%= link_to 'Destroy', project_path(project), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to '新建项目', new_plan_project_path %> | 
<%= link_to '资管计划列表', plans_path %>

