<div class="page-header">
  <h1><%= @plan.number %>—资管计划—<%= @plan.name %></h1>
</div>
<%= render :partial => "/homes/projects"%>
<%= link_to '新建项目', new_plan_project_path %> | 
<%= link_to '资管计划列表', plans_path %>