<div class="page-header">
  <h1>我的资管计划列表</h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th>资管计划编号</th>
      <th>资管计划名称</th>
      <th>资管计划类型</th>
      <th>规模</th>
      <th>风险</th>
      <th>开始日期</th>
      <th>结束日期</th>
      <th>管理费</th>
      <th>投资经理</th>
      
      <th>部门</th>
      <th>费率</th>
      <th>费用金额</th>
      <th>注释</th>
      <th>操作</th>

    </tr>
  </thead>

  <tbody>
    <% @plans.each do |plan| %>
      <tr>
        <td><%= link_to plan.number, plan_path(plan), :class=>"btn btn-link" %></td>
        <td><%= plan.name %></td>
        <!-- <td><%= link_to plan.name, plan_path(plan), :class=>"btn btn-link" %></td> -->
        <td><%= plan.plan_type %></td>
        <td><%= plan.scale %></td>
        <td><%= plan.risk %></td>
        <td><%= plan.start_date %></td>
        <td><%= plan.end_date %></td>
        <td><%= f2 plan.count_fee %></td>
        <td><%= plan.investment_manager %></td>
        <td><%= plan.department.name %></td>
        <td><%= plan.rate %></td>
        <td><%= plan.fee %></td>
        <td><%= plan.notes %></td>
         <td>
          <%= link_to :编辑,
                      edit_plan_path(plan), :class => 'btn btn-default btn-xs' %>
          <%= link_to :删除,
                      plan,
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-xs btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>
<%= link_to :新建资管计划,
            new_plan_path,
            :class => 'btn btn-primary' %>