<div class="page-header">
  <h1>我的项目列表</h1>
</div>

<table class="table table-striped">
  <thead>
    <tr>
      <th>计划名称</th>
      <th>项目编号</th>
      <th>项目名称</th>
      <th>项目规模</th>
      <th>资产价格</th>
      <th>入池价格</th>
      <th>开始日期</th>
      <th>结束日期</th>
      <th>管理费</th>
      <th>投资经理</th>
      <th>部门</th>
      <th>费率</th>
      <th>费用金额</th>
      <th>风险</th>
      <th>注释</th>
      <th>操作</th>
    </tr>
  </thead>

  <tbody>
    <% @projects.each do |project| %>
      <tr>
        <td><%= link_to project.plan.name, plan_path(project.plan), :class=>"btn btn-link" %></td>
        <td><%= link_to project.number, project_path(project), :class=>"btn btn-link" %></td>
        <td><%= project.name %></td>
        <!-- <td><%= link_to project.name, project_path(project), :class=>"btn btn-link" %></td> -->
        <td><%= project.scale %></td>
        <td><%= project.asset_price %></td>
        <td><%= project.pool_price %></td>
        <td><%= project.start_date %></td>
        <td><%= project.end_date %></td>
        <td><%= f2 project.count_fee %></td>
        <td><%= project.investment_manager %></td>
        <td><%= project.department.name %></td>
        <td><%= project.rate %></td>
        <td><%= project.fee %></td>
        <td><%= project.risk %></td>
        <td><%= project.notes %></td>
        <td><%= link_to '编辑', edit_project_path(project) , :class => 'btn btn-default btn-xs'%>
        <%= link_to '删除', project_path(project), method: :delete, data: { confirm: 'Are you sure?'}, :class => 'btn btn-xs btn-danger' %></td>
      </tr>
    <% end %>
  </tbody>
</table>