<!--  一级部门显示员工的考核 -->
<div class="page-header">
  <h1>部门成员业绩考核完成情况</h1>
</div>

<table class="table table-striped table-hover" >
  <thead>
    <tr>
      <th>部门</th>
      <th>当前管理费</th>
      <th>全年管理费</th>
      <th>一季度管理费</th>
      <th>二季度管理费</th>
      <th>三季度管理费</th>
      <th>四季度管理费</th>
      <th>规模</th>
    </tr>
  </thead>
  <tbody>
    <% @department.members.each do |user| %>
    <tr>
        <td><%=user.name%>考核指标</td>
        <td><%=f2 user.count_management_fee_tasks %></td>
        <td><%=f2 user.count_management_fee_tasks %></td>
        <td><%=f2 user.count_management_fee_tasks/4 %></td>
        <td><%=f2 user.count_management_fee_tasks/4 %></td>
        <td><%=f2 user.count_management_fee_tasks/4 %></td>
        <td><%=f2 user.count_management_fee_tasks/4 %></td>
        <td><%=f2 user.count_scale_tasks%></td>
      </tr>
    <tr>
        <td><%=user.name%>完成情况</td>
        <td><%=f2 user.count_income Date.since_this_year %></td>
        <td><%=f2 user.count_income Date.one_year %></td>
        <td><%=f2 user.count_income Date.first_quarter %></td>
        <td><%=f2 user.count_income Date.second_quarter  %></td>
        <td><%=f2 user.count_income Date.third_quarter%></td>
        <td><%=f2 user.count_income Date.fourth_quarter%></td>
        <td><%=f2 user.count_scale %></td>
    </tr>
    <% end %>
  </tbody>
</table>   